/* styles.css */

/* Adicionei variáveis CSS para armazenar valores que eu uso repetidamente */
:root {
  --primary-color: #ff5a5f;
  --secondary-color: #e04146;
  --text-color: #555;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f7f7f7;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  position: relative;
  text-align: center;
}

h1 {
  color: var(--text-color);
  text-align: center;
}

p {
  color: var(--text-color);
  line-height: 1.5;
  margin-bottom: 20px;
}

.cta-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: var(--primary-color);
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  margin-right: 10px;
}

.cta-button:hover {
  background-color: var(--secondary-color);
}

.image-container {
  text-align: center;
  margin-top: 20px;
}

.image-container img {
  max-width: 100%;
  height: auto;
}

/* Additional styles for cadastro.html */

form {
  text-align: center;
  margin-top: 20px;
}

label {
  display: inline-block; /* Mudei o display para inline-block para alinhar os labels e os inputs */
  margin-right: 10px; /* Mudei a margem para a direita para criar um espaço entre os labels e os inputs */
  color: var(--text-color);
}

input {
  width: 200px; /* Adicionei uma largura fixa para os inputs */
  padding: 8px; /* Adicionei um padding para os inputs */
  border-radius: 5px; /* Adicionei um border-radius para os inputs */
  border: 1px solid #ccc; /* Adicionei uma borda para os inputs */
  margin-bottom: 10px; /* Adicionei uma margem inferior para os inputs */
}

button[type="submit"] {
  display: inline-block; /* Mudei o display para inline-block para alinhar o botão com os inputs */
  margin-left: auto; /* Mudei a margem para a esquerda para criar um espaço entre o botão e os inputs */
  padding-left: 20px; /* Aumentei o padding esquerdo do botão */
  padding-right: 20px; /* Aumentei o padding direito do botão */
  background-color: var(--primary-color);
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  border: none;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: var(--secondary-color);
}

.box {
  display: flex;
  align-items: center;
}

.box .image-container {
  width: 200px;
  text-align: center;
  margin-right: 20px;
}

.box .image-container img {
  max-width: 100%;
  height: auto;
  border-radius: 50%;
}
